$primary: #99A900;
$secondary: #707070;
$danger: #F74741;


h1 {
    color: $primary !important;
    font-size: 36px;
}

small {
    color: $secondary;
}

p {
    font-size: 1.3rem;
}

.card-footer {
    background-color: white;
}

.btn-primary {
    background-color: $primary !important;
    border: none;
}

.text-primary {
    color: $primary!important;
}