//Lu: 13min

h1 {
    color: #99a900;
    font-size: 36px;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    .card {
        box-shadow: 2px 4px 4px 0px #00000020;
        .card-body {
            .info {
                font-size: 12px;
                color: gray;
                font-weight: 600;
                .date {
                    font-weight: 500;
                }
              
            }
            .title {
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .btn-link{
                color: #99a900;
                font-size: 12px;
                margin-right: 1rem;
            }
        }
        .card-footer {
            background-color: white;
            .btn-icon:not(.btn-danger){
                background-color: white;
                border: solid 1px #eee;
                color: #565656;

            }
        }
    }
}
@media (min-width: 568px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
